<h1> Say Hello to <%=  @dog.name %> </h1>


<p> The breed is: <%= @dog.breed %> </p>

<p> A brief Discription of <%=  @dog.name %> is: <%= @dog.bio %></p>

<p> <%=  @dog.name %> lives at: <%=  @dog.location %> </p>

<div class="button">
  <%= link_to "Go back to all the Dawgs" , dogs_path, class: "btn btn-primary btn-sm" %>
</div>
